# Node.js
/node_modules
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/lerna-debug.log*
.DS_Store

# Environment Variables
.env
.env*.local

# Production
/build

# Credentials & Sensitive Files
google-credentials.json
*.sqlite
*.db
/backups/